{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}CATEGORIES{% endblock title %}
</head>
<body>
   {% block content %}
   
<!-- Arama ve Filtreleme Formu -->
<form method="GET" action="{% url 'category_list' %}">
  <input type="text" name="q" placeholder="Kategori Ara" value="{{ request.GET.q }}">
  <select name="category">
      <option value="">Kategori Seç</option>
      {% for category in categories %}
      <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
          {{ category.name }}
      </option>
      {% endfor %}
  </select>
  
  <button type="submit">Ara</button>
  <a href="{% url 'category_list' %}" class="btn btn-info">Temizle</a>


</form>






{% for category in categories %}

<div class="card text-left">


  <div class="card-body">
    <h4 class="card-title">{{category.name}}</h4>


    <p>Toplam Ürün Sayısı: {{ category.total_products }}</p>


    <a href="{% url 'category_products' category.id %}" class="btn btn-info">Kategorinin urunleri</a>

    

  
  
  <div class="card-footer">

</div>
 {% empty %}
    <li>Hiçbir kayıt bulunamadı.</li>
  {% endfor %}
{% endblock content %}
</body>
</html>


