{% extends "base.html" %}

{% block title %}FIRMALAR{% endblock title %}
{% block content %}

<!-- Arama Formu -->
<form method="GET" action="{% url 'firm_list' %}">
  <input type="text" name="q" placeholder="Firma Ara" value="{{ request.GET.q }}">
  <button type="submit">Ara</button>
</form>


<div class='container row '>
{% for firm in firms %}   
<div class="card text-left col-md-3">
    <img class="card-img-top" src="{{ firm.image.url }}" alt="">
  <div class="card-body">
    <h4 class="card-title">{{ firm.name }}</h4>
  </div>
</div>
{% endfor %}

</div>

{% endblock content %}