{% extends "base.html" %}

{% block title%} STOCKAPP{% endblock title %}

{% block content %}
<h1 class= 'text-info'>Welcome to the Stock App</h1>


<div class='container row '>
    <div class="card text-left col-md-4">
  <img class="card-img-top" src="https://t4.ftcdn.net/jpg/00/81/38/59/360_F_81385977_wNaDMtgrIj5uU5QEQLcC9UNzkJc57xbu.jpg" alt="">
  <div class="card-body">
    <h4 class="card-title">CATEGORIES</h4>
    <a name="" id="" class="btn btn-info" href="categories" role="button">tiklayiniz</a>
  </div>
</div>

<div class="card text-left col-md-4">
  <img class="card-img-top" src="https://miro.medium.com/v2/resize:fit:1024/1*9so4ie9yqdbuV_-A4OFyfg.jpeg" alt="">
  <div class="card-body">
    <h4 class="card-title">BRANDS</h4>
    <a name="" id="" class="btn btn-info" href="brands" role="button">tiklayiniz</a>
  </div>
</div>

<div class="card text-left col-md-4">
  <img class="card-img-top" src="https://business.inquirer.net/files/2024/08/787603.jpeg" alt="">
  <div class="card-body">
    <h4 class="card-title">FIRMS</h4>
    <a name="" id="" class="btn btn-info" href="firms" role="button">tiklayiniz</a>
  </div>
</div>

<div class="card text-left col-md-4">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQqjd3nzBCApaxhEjwq0O_5q45E-Tp2tahAT2ztzcuxJHBwNly-Bic9JuZF1QoqJ2mRuY&usqp=CAU" alt="">
  <div class="card-body">
    <h4 class="card-title">SALES</h4>
    <a name="" id="" class="btn btn-info" href="sales" role="button">tiklayiniz</a>
  </div>
</div>

<div class="card text-left col-md-4">
  <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/023/629/698/non_2x/web-button-icon-purchase-button-free-png.png" alt="">
  <div class="card-body">
    <h4 class="card-title">PURCHASES</h4>
    <a name="" id="" class="btn btn-info" href="purchases" role="button">tiklayiniz</a>
  </div>
</div>

<div class="card text-left col-md-4">
  <img class="card-img-top" src="https://images.dailynewsegypt.com/2018/09/Product.jpg" alt="">
  <div class="card-body">
    <h4 class="card-title">PRODUCTS</h4>
    <a name="" id="" class="btn btn-info" href="products" role="button">tiklayiniz</a>
  </div>
</div>
</div>



{% endblock content %}